/* stil för body */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #202C36;
  color: #F2F2F2;
}

body.light-mode {
  background-color: #F2F2F2;
  color: #202C36;
}

/* Stil för container */
.container {
  max-width: 1200px; /* Justera maxbredden efter dina behov */
  margin: 0 auto;    /* Centrerar container */
  padding: 20px;     /* Lägger till padding */
}

/* Stil för sökfältet */
.search-filter-container {
  display: flex; 
  align-items: center;
  gap: 500px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 20px;
  z-index: 1010;
}

 /* Gör placeholder texten ljusare */
.search-bar::placeholder {
  color: #F2F2F2;
}

/* dropdown */
.filter-menu {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 150px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px 25px;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, background-image 0.3s ease;
}

/* Stil för country-card */
.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.country-card {
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}

.country-card a {
  color: inherit;
  text-decoration: none;
}

.country-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
}

.country-card.dark-mode {
  background-color: #2B3844;
  color: #F2F2F2;
}

.country-card.light-mode {
  background-color: #FFFFFF;
  color: #202C36;
}

.country-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.country-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.country-card p {
  margin: 5px 0;
  font-size: 14px;
}

/* Responsiv design så Mac blir glad */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar,
  .filter-menu {
    width: 100%;
    margin-bottom: 10px;
  }

  .countries-grid {
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .country-card {
    padding: 15px;
  }

  .country-card h2 {
    font-size: 16px;
  }

  .country-card p {
    font-size: 12px;
  }
}

@media (min-width: 1440px) {
  .app {
    padding: 40px;
  }

  .countries-grid {
    gap: 50px;
  }
}